*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/Assets/BGIMAGE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Login-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-started{
    background-color: rgb(50, 50, 156);
    max-width: 20vw;
    min-width: 10vw;
    padding-inline: 3vw;
    padding-block: 4vh;
}
.logo img {
    width: 100%;
    margin-bottom: 10vh;
}
.get-started2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.get-started2 p{
    color: white;
}
.get-started2 button{
    padding: 10px;
    background-color: whitesmoke;
    border: none;
    border-radius: 3px;
    margin-bottom: 8vh;
    color: rgb(50, 50, 156);
}
.login-form{
    background-color: white;
    min-width: 30vw;
    padding-inline: 3vw;
    padding-block: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.login-form h2{
    margin-bottom: 12vh;
}
.login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form form input{
    padding-inline: 15px;
    padding-block: 13px;
    min-width: 350px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border: 1px solid rgb(50, 50, 156);
    outline: none;
}

.fgpassword button{
    padding-inline: 15px;
    padding-block: 10px;
    min-width: 350px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: rgb(50, 50, 156);
    border: none;
    color: white;
    border-radius: 3px;
}
.fgpassword{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.fgpassword p a{
    color: rgb(20, 82, 20);
    text-decoration: none;
}
